@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

.hero {
  background-image: url("/CoverPhoto.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 160px;
  height: auto;
  padding: 10px;
}

.header {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  background-color: white;
}

.headerDivs {
  position: sticky;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLinks {
  color: black;
  font-weight: bold;
  font-family: "Inter Tight";
}

.headerLinks:hover {
  color: #ff7f50;
  cursor: pointer;
}

.cls1 {
  fill: #000;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.album {
  background-color: black;
}

.cls2 {
  stroke: #000;
  stroke-miterlimit: 10;
  fill: #fff;
}

.marquee {
  height: 80px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  margin-top: 5%;
}

.marquee div {
  display: block;
  width: 223.54%;
  height: 80px;
  position: absolute;
  overflow: hidden;
  animation: marquee 7s linear infinite;
}

.marquee span {
  font-size: 4rem;
  float: left;
  font-family: "Inter Tight";
  mix-blend-mode: difference;
}

@media (max-width: 1036px) {
  .marquee span {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .marquee span {
    font-size: 1rem;
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -120.5%;
  }
}

.devstreetText {
  width: 22.18%;
  color: white;
}

.realityText {
  width: 10.9%;
  color: #ffdd2d;
}

.outText {
  width: 6.8%;
  color: white;
}

.nowText {
  width: 14.12%;
  color: white;
}

.now2Text {
  width: 4.33%;
  color: white;
}

.vertText {
  position: absolute;
  color: black;
}

.vertTextBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
